<app-navigationbar></app-navigationbar>
<div class="background">

<div *ngIf="premiumPopupBoolean">

  <div class="premiumContent">
    <div class="mainQuote">Get Premium for 1 month</div><br><br>
    <div class="subQuote">Just ₹150/-month..Grab it soon</div><br>
    <div class="premiumImage">
      <img src="https://wap.spotifycdn.com/fa/_next/static/media/account-hero-image-desktop.6a2c3f1e.jpg" alt="">
    </div>
    <div class="buttons">
      <button routerLink="/payment">Get Started</button>
      <button routerLink="/premium">See other plans</button>
      <button (click)="closePremiumPopup()">Close</button>
    </div>
  </div>
</div>

<div class="accounts_container">
  <div class="accounts_page">
    <!-- <div class="accounts_left">
      <img src="/assets/images/person.png" title="{{currentUserProfileName}}"/>
      <a routerLinkActive="active-link" routerLink="/accounts" (click)="account()" class="active-link"><i class="fa-solid fa-regular fa-house"></i>Account Overview</a>
      <a routerLinkActive="active-link"><i class="fa-solid fa-user-pen"></i>Edit Profile</a>
      <a routerLinkActive="active-link"><i class="fa-solid fa-lock"></i>Update Password</a>
      <a routerLinkActive="active-link"><i class="fa-solid fa-arrow-rotate-right"></i>Recover Playlists</a>
    </div> -->
    <div class="accounts_right">
      <span class="account_overview">Account Overview</span>
      <span class="profile">Profile</span>
      <form [formGroup]="accountInfo" (ngSubmit)="submitAccountInfo()">

        <table cellPadding="30px">
          <thead>
            <tr>
              <td>Username</td>
              <th style="color: black;">{{currentUserProfileName}}</th>
            </tr>
            <tr>
              <td>Email I'd</td>
              <th style="color: black;">{{currentUserEmailID}}</th>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <th><input type="text" formControlName="dateOfBirth">
                <small *ngIf="accountInfo.controls['dateOfBirth'].errors?.['pattern']">Error occured</small></th>
            </tr>
          </thead>
        </table>
        <div class="saveInfoButton"><button [disabled]="!accountInfo.valid" class="saveInfo">Save info</button></div>
      </form>
    </div>
  </div>
</div>
</div>


<app-footer></app-footer>
