<header class="header">
  <div class="nav"> <a><img src="/assets/images/logo.png" alt="Dulcet Logo" class="logo" (click)="home()" style="cursor: pointer;"></a> </div>
  <div class="nav-links">
    <nav>
      <div><a href="#contact">Contact</a></div>
      <div><a routerLink="premium">Premium</a></div>
      <div><a routerLink="songs">Songs</a></div>
    </nav>
  </div>
</header>

<div class="forgotsystem">
  <form class="forgotform" [formGroup]="forgotpassForm" (ngSubmit)="submitForgotPassForm()">
    <i class="fa-solid fa-circle-xmark fa-flip" (click)="closeForgotPassForm()"></i>
    <h2 id="h2">Dulcet Recover Password</h2>
    <!-- <small class="smalltext">To recover your Password 1st fill your Name and Email</small> -->

    <i class="fa-solid fa-user icon"></i>
    <input type="text" class="name" placeholder="Enter your name" formControlName="forgotname" #forgotname>
    <small class="small" *ngIf="forgotpassForm.controls['forgotname'].errors?.['required'] && forgotpassForm.controls['forgotname'].dirty">* Name is required</small>
    <small class="small" *ngIf="forgotpassForm.controls['forgotname'].errors?.['pattern']">* Please provide a valid name</small>

    <i class="fa-solid fa-envelope icon"></i>
    <input type="text" class="email" placeholder="Enter your email" formControlName="forgotpassemail" #forgotemail>
    <small class="small" *ngIf="forgotpassForm.controls['forgotpassemail'].errors?.['required'] && forgotpassForm.controls['forgotpassemail'].errors?.['touched']">* Email is required</small>
    <small class="small" *ngIf="forgotpassForm.controls['forgotpassemail'].errors?.['pattern']">* Please provide a valid Email</small>

    <i class="fa-solid fa-arrow-rotate-right" (click)="forgotReset()">&nbsp;&nbsp;Reset</i>

    <button [disabled]="!forgotpassForm.valid">Submit</button>

  </form>
</div>

<section id="contact" class="bottom-contents">
  <div> <a href="#top"><img src="/assets/images/logo.png" class="logo"></a>  </div>
  <div>
      <span>COMPANY</span>
      <ul>
          <a target="_blank">About</a>
          <a target="_blank">Jobs</a>
          <a target="_blank">Records</a>
      </ul>
  </div>
  <div>
      <span>COMMUNITIES</span>
      <ul>
          <a target="_blank">For&nbsp;Artists</a>
          <a target="_blank">Developers</a>
          <a target="_blank">Advertising</a>
          <a target="_blank">Investors</a>
          <a target="_blank">Vendors</a>
      </ul>
  </div>
  <div>
      <span>USEFUL&nbsp;LINKS</span>
      <ul>
          <a target="_blank">Support</a>
          <a target="_blank">Web&nbsp;Player</a>
          <a target="_blank">Contact&nbsp;Dulcet</a>
      </ul>
  </div>
  <div>
      <nav>
      <a href="https://www.facebook.com/profile.php?id=100089790477429" target="_blank"><i class="fab fa-facebook-f"></i>Facebook</a>
      <a href="https://www.instagram.com/__delcet__23/"  target="_blank"><i class="fab fa-instagram"></i>Instagram</a>
      <a href="https://www.ankedin.com/in/delcet-musicapp-766898265/" target="_blank"><i class="fab fa-linkedin-in"></i>Linked-in</a>
      <a href="mailto:delcetonane2023@gmail.com" target="_blank"><i class="fa-soad fa-envelope"></i>E-mail</a>
      <a href="https://twitter.com/DelcetMusicHB"  target="_blank"><i class="fab fa-twitter"></i>Twitter</a>
      </nav>
  </div>
</section>

<footer class="footer">
<h3>Copyrights &copy; 2022</h3>
<p>All Rights Reserved</p>
<p>Developed and Maintaining by&nbsp;<a href="#"><b>Mr. HARISH B</b></a></p>
</footer>
