*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body{
background-color: #fff;
}
.header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:1;
  background: rgb(80, 78, 78);
  padding: 1.2rem;
}
.nav-links{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.nav-links a{
  margin: 1rem;
  text-decoration: none;
  color: white;
  font-size: 0.55cm;
}
.nav-links a:hover{
  border-bottom: 3px solid whitesmoke;
}
.logo, .bottom-contents .logo{
  height: 70px;
  border-radius: 50px;
}

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position : fixed;
  width: 100%;
  background-color: rgb(15, 197, 247);
  box-shadow: 0px 8px 20px 2px rgba(22, 22, 22, 0.874);
}

.header p{
  font-weight: 800;
  font-size: 0.6cm;
  color:rgb(255, 255, 255);
}
.header img{
  width: 70px;
  height: 50px;
  border-radius: 50%;
}
header a{
  font-size: 0.6cm;
  text-decoration:none;
  color: rgb(255, 255, 255);
}
header a:hover>.header a{
  border-bottom: 4px solid white;
} */
