
<app-navigationbar></app-navigationbar>

<div class="playlist_container">
  <div class="navbar">
    <div class="profile_container" clickOutside  (click)="toggle()">
      <div><img src="/assets/images/person.png" title="{{profileName}}" style="height: 40px; width: 40px;" alt="userImage"></div>
      <!-- <div title="{{profileName}}">{{profileName}}</div> -->
      <div><i class="fa fa-caret-down"></i></div>
    </div>
    <div class="menu" *ngIf="isMenuOpened">
      <a routerLink="/accounts">Account&nbsp;&nbsp;<i class="fa fa-external-link"></i></a>
      <a routerLink="/profile">Profile</a>
      <a routerLink="/premium">Premium</a>
      <a (click)="logout()">Logout&nbsp;&nbsp;<i class="fa fa-external-link"></i></a>
    </div>
  </div>

  <div class="songs-container">
    <div class="headTitle">#</div>
    <div class="headTitle">Image</div>
    <div class="headTitle">Title</div>
    <div class="headTitle">Song</div>
    <div class="headTitle">Liked Songs</div>
  </div>
  <div class="horizontalLine"></div>
  <div *ngFor="let source of assets">
    <div class="songs_container">
    <span class="number">{{source.id}}</span>
    <img src="{{source.images}}" alt="">
    <span class="maintitle">{{source.movie_name}}</span>
    <span class="maintitle">{{source.song_name}}</span>
    <i class="fa-solid fa-heart" (click)="addToFavouritesSongs(source)"
    [ngClass]="{'liked' : !toggle, 'untouched': toggle}"></i>
    <a>Add to Playlist</a>
</div>
</div>
</div>
