@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
.navbar{
  float: right;

}
.navbar .profile_container{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}
.navbar .profile{
  padding: 1rem;
  background-color: #fff;
  border-radius: 30px;
  font-family: 'Space Grotesk', sans-serif;
  color: black;
  font-size: 0.4cm;
  margin-left: 93%;
}
.navbar .profile img{
  height: 45%;
  width: 25%;
  border-radius: 30px;
  box-shadow: 2px 0px 5px 8px rgba(31, 29, 29, 0.2);
}
 .menu{
  display: flex;
  flex-direction: column;
  opacity: 0.7;
}
 .menu a{
  color: #000;
  background-color: rgba(31, 29, 29,0.2);
  font-size: 0.5cm;
  padding: 0.7rem;
  text-decoration: none;
}
 .menu a:hover{
  text-decoration: underline;
  cursor: pointer;
}
 .menu:hover{
  opacity: 1;
}
 .menu i{
  font-size: 0.4cm;
}
.firstcontent {
  margin-top: 20%;
  margin-left: 40%;
}
.firstcontent img{
  height: 75%;
  width: 40%;
}
.firstcontent .user_name{
  color: rgb(46, 230, 144);
  font-size: 2cm;
}

