<nav class="navbar bg-dark">
  <div class="container">
    <h2 style="color: antiquewhite;">Dulcet Admin!</h2>
  </div>
  <div class="d-flex">
    <!-- Button trigger modal -->
    <button type="button" class="btn" style="background: #00f000; color: black; border-radius: 30px; padding: 20px;" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Songs</button>
  </div>
</nav>


<h2>Total Users Registered in {{title}} : <h1 style="color: rgb(13, 86, 232); font-size: bolder;">{{registeredUsers}}</h1></h2>
<h2>Current Users in {{title}} : <h1 style="color: rgb(0, 128, 0); font-size: bolder;">{{currentUser}}</h1></h2>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add to JSON Songs</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="songsEntry">

        <label for="formFile" class="form-label">Choose the audio and image</label>
        <input type="file" class="form-control" formControlName="assets" id="formFile" name="assets" multiple (change)="selectSongAssets($event)">

        <label for="exampleInputEmail1" class="form-label">Enter Movie Name</label>
        <input type="text" class="form-control" formControlName="maintitle" id="exampleInputEmail1">

        <label for="exampleInputEmail1" class="form-label">Enter Song Name</label>
        <input type="text" class="form-control" formControlName="subtitle" id="exampleInputEmail1">

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="addSongs(this.songsEntry.value)" [disabled]="!songsEntry.valid">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>Click any of the Buttons to view and edit it</h1>
  <button class="btn" style="background: #00f000; color: black;" (click)="vibesOpen()">Vibes</button>&nbsp;&nbsp;
  <button class="btn" style="background: #00f000; color: black;" (click)="newSongsOpen()">NewSongs</button>
</div>

<div class="container-fluid mt-3">

    <table class="table" *ngIf="vibesboolean">
      <thead>
        <tr>
          <th scope="col">Song path</th>
          <th scope="col">Song</th>
          <th scope="col">Artist</th>
          <th scope="col">Album path</th>
          <th scope="col" colspan="2">CRUD Operations</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let datas of vibes_data" >
          <td>{{datas.audios}}</td>
          <td>{{datas.maintitle}}</td>
          <td>{{datas.subtitle}}</td>
          <td><img src="{{datas.images}}" style="height: 100px; width: 100px;"></td>
          <td><button routerLink="adminupdate/{{datas.id}}" class="btn btn-warning">Edit</button></td>
          <td><button (click)="deleteSongs(datas.id)" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>


  <table class="table" *ngIf="newsongsboolean">
    <thead>
      <tr>
        <th scope="col">Song path</th>
        <th scope="col">Song</th>
        <th scope="col">Artist</th>
        <th scope="col">Album path</th>
        <th scope="col" colspan="2">CRUD Operations</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let datas of newsongs_data" >
        <td>{{datas.audios}}</td>
        <td>{{datas.maintitle}}</td>
        <td>{{datas.subtitle}}</td>
        <td><img src="{{datas.images}}" style="height: 100px; width: 100px;"></td>
        <td><button routerLink="adminupdate/{{datas.id}}" class="btn btn-warning">Edit</button></td>
        <td><button (click)="deleteSongs(datas.id)" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>


