<app-navigationbar></app-navigationbar>
<div class="background">
  <div class="accounts_container">
      <div class="accounts_left">
        <a routerLinkActive="active" routerLink="profile"><i class="fa-solid fa-regular fa-house"></i>Account Overview</a>
        <a routerLinkActive="active" routerLink="editprofile"><i class="fa-solid fa-user-pen"></i>Edit Profile</a>
        <a routerLinkActive="active" routerLink="subscribedplan"><i class="fa-solid fa-lock"></i>Premium Plan</a>
        <a routerLinkActive="active" routerLink="playlists"><i class="fa-sharp fa-solid fa-circle-play"></i>Playlists</a>
        <a routerLinkActive="active" routerLink="paymentcard"><i class="fa-solid fa-credit-card"></i>Payment Card</a>
      </div>
      <div class="accounts_right">
        <div class="paymentCard">
          harish
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
