<div class="accounts_right">
  <div class="gridPremiumPlanCard">
    <!-- <div class="planDetails">
      <div><p>Your plan</p></div>
      <div><a routerLink="/premium">Review plan</a></div>
    </div> -->
    <div class="premiumPlanCard">
      <div class="gridColumnCenterBG">
        <div>
          <p class="bold">Premium</p>
          <p class="normal">Plan : {{planTitle}}</p>
        </div>
        <div>
          <p class="bolder">Free</p>
          <p class="normal">For 1 month</p>
        </div>
      </div>
      <div class="gridColumnCenter">
        <p class="normal">Start Free month</p>
        <p class="bold">Today</p>
      </div>
      <div class="gridColumnCenter">
        <p class="normal">Start billing date</p>
        <p class="bold">{{today}}</p>
      </div>
      <ul>
        <li>{{planOffer}}</li>
        <li>You won't be charged until {{today}}</li>
        <li>We will remind you 7 days before your plan get expired</li>
      </ul>
    </div>
   </div>
</div>

