<div class="paymentHeader">
  <a routerLink="/"><img src="/assets/images/blacklogo.png" alt="brandLogo"></a>
  <p>Welcome ! {{name}}</p>
</div>

<div class="paymentContainer">

 <div class="gridPremiumPlanCard">

  <p>Your plan</p>

  <div class="premiumPlanCard">
    <div class="flexSpacearound">
      <img src="/assets/images/logo.png" alt="brandLogo">
      <div>
        <p class="bold">Premium</p>
        <p class="normal">1 Premium account</p>
      </div>
      <div>
        <p class="bolder">Free</p>
        <p class="normal">For 1 month</p>
      </div>
    </div>
    <div class="flexBox1">
      <p class="normal">Start Free month</p>
      <p class="bold">Today</p>
    </div>
    <div class="flexBox2">
      <p class="normal">Start billing date</p>
      <p class="bold">{{today}}</p>
    </div>
  </div>
 </div>

<div class="paymentBox">
  <p>Choose a payment method</p>
    <div class="paymentMethod">
      <div class="flexContent">
        <div class="checkbox" clickOutside (click)="upiDivToggleOpen()"></div>
        <span>UPI</span>
      </div>
      <div class="flexImage">
        <img src="https://paymentsdk.spotifycdn.com/svg/providers/upi/upi.svg">
        <img src="https://paymentsdk.spotifycdn.com/svg/providers/upi/google-pay.svg">
        <img src="https://paymentsdk.spotifycdn.com/svg/providers/upi/paytm.svg">
        <img src="https://paymentsdk.spotifycdn.com/svg/providers/upi/amazon-pay.svg">
        <img src="https://paymentsdk.spotifycdn.com/svg/providers/upi/bhim.svg">
      </div>
      <div class="upiID" *ngIf="upiDivBoolean">
        <span>UPI ID</span>
        <input type="text" placeholder="user@upihandle">
        <p>
          If you don't cancel your subscription before the trial ends on {{today}}, you agree that you are making the payment directly with your entered UPI ID.
        </p>
        <button routerLink="">Buy Now</button>
      </div>
    </div>
    <div class="paymentMethod">
      <div class="flexContent">
        <div class="checkbox" clickOutside (click)="cardDivToggleOpen()"></div>
        <span>Credit or debit card</span>
      </div>
      <div class="flexImage">
        <img src="https://paymentsdk.spotifycdn.com/svg/cards/visa.svg">
        <img src="https://paymentsdk.spotifycdn.com/svg/cards/mastercard.svg">
        <img src="https://paymentsdk.spotifycdn.com/svg/cards/amex.svg">
        <img src="https://paymentsdk.spotifycdn.com/svg/cards/diners.svg">
      </div>
    </div>
    <div class="cardPaymentMethod" *ngIf="cardDivBoolean">

    </div>
  </div>
</div>

