
span{
  font-family: monospace;
  font-weight: bold;
  color: white;
}
.header{
  background-color: black;
}
p{
  font-size: 20px;
  padding: 25px;
  font-family: monospace;
  font-weight: 100;
  color: white;
}
.grid-container .div1 {
  background-color: rgb(21, 123, 241);
  font-size: 30px;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  height: 30vh;
}
.div1 a{
  text-decoration: none;
  border: 3px solid white;
  padding: 15px;
  color: white;
  background-color: black;
  border-radius: 50px;
}
.div1 a:hover,.div2 a:hover{
  cursor: pointer;
  padding: 10px;
}

.div2 a{
  text-decoration: none;
  border-radius: 50px;
  border: 3px solid white;
  padding: 15px;
  color: white;
}


.grid-container .div2 {
  background-color: rgb(1, 4, 4);
  padding: 2rem;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}
.grid-container .div3 .container p{
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  text-align: center;
  color: black;
  font-size: 1cm;
  font-weight: 600;
}
.grid-container .div3 .container .row {
  padding: 1rem;
  gap: 1.5rem;
}
.grid-container .div3 .container .row .col-sm{
  padding: 2rem;
  box-shadow: 5px 5px 8px 4px  rgba(199, 182, 182, 0.874);
}
.grid-container .div3 .container .row .col-sm .one-time{
  width: 10%;
  background-color: rgb(126, 249, 249);
  color:black;
  padding: 10px;
  border-radius: 10px;
}
.grid-container .div3 .container .row .col-sm .box1,.grid-container .div3 .container .row .col-sm .box2{
  padding: 0.5rem;
}
.grid-container .div3 .container .row .col-sm .button{
  align-items: center;
}
.grid-container .div3 .container .row .col-sm .button button{
  font-size:  0.5cm;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 5px 5px 8px 4px  rgba(199, 182, 182, 0.874);
}
.grid-container .div3 .container .row .col-sm .button button a{
  color: #fff;
  text-decoration: none;
}
.coupon{
  text-align: center;
  padding: 1rem;
}
.coupon label{
  font-weight: bold;
  font-size: 0.9cm;
  font-weight: 500;
}
.coupon input{
  color: rebeccapurple;
  font-size: 0.6cm;
}
