@import url('../../songcards.css');
@import url('../../songtrack.css');
.first{
  margin-top: 2%;
}
.titlehead{
  display: flex;
  justify-content: space-around;
}
.titlehead a{
  padding: 10px;
  font-size: 0.80cm;
  color: #000;
  font-family: 'Space Grotesk', sans-serif;
  text-decoration: none;
  cursor: pointer;
}
.titlehead a:hover{
  border-bottom: 2px solid #00ff00;
}
.titlehead .active{
  border-bottom: 2px solid #00ff00;
}

.fa-heart{
  font-size: 0.75cm;
}
.sectionFlexContainer{
  min-height: 100vh;
  width: auto;
  /* background-image: url("https://www.scdn.co/i/free/bubbles-dktp.svg"), linear-gradient(-45deg, rgb(0,0,0) -15%, rgb(0, 255, 0)); */
  /* background-image: url("https://www.scdn.co/i/free/bubbles-dktp.svg"), linear-gradient(-75deg, rgb(0,255,0),58%, rgb(89, 247, 78)); */
  /* background: linear-gradient(-45deg, rgb(0,255,0) 5%, rgb(0, 0, 0)); */
  /* background: url("/assets/images/1.jpg") no-repeat cover; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background: linear-gradient(-75deg, rgb(0,255,0),58%, rgb(174, 243, 169));
  display: grid;
  grid-template-columns: repeat(2,1fr);
  place-items: center;
}
.sectionFlexContainer .displayingContent p{
  font-size: 1.5cm;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 6rem;
}
.dulcetSongCards{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dulcetSongCards h2{
  font-size: 3rem;
  padding: 3rem;
}
.featuredDulcet h3{
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 1cm;
  color: #000;
  font-weight: 700;
}
.sectionGridContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 3rem;
  padding: 2rem;
}
.sectionGridContainer .sectionGridBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.sectionGridContainer .sectionGridBox .fontAwesomeUserCSS{
  height: 150px;
  width: 150px;
  background-color: #000;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionGridContainer .sectionGridBox .fontAwesomeUserCSS img{
  width: 100px;
  height: 100px;
}
.sectionGridContainer .sectionGridBox .head{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}
.sectionGridContainer .serviceProviding{
  height: auto;
  width: 20vw;
  background-color: #00ff00;
}
/** Bottom Song track Heart color changing starts **/
.liked {
  color: #00ff00;
}
.untouched {
  color: blanchedalmond;
}
/** Bottom Song track Heart color changing ends**/
@media only screen and (max-width:640px){
.titlehead a{
  font-size: 0.5cm;
}
.sectionFlexContainer{
  margin-top: -2%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.sectionFlexContainer .displayingImage img{
  width: 100px;
  height: 150px;
}
.sectionFlexContainer .displayingContent p{
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 30px;
  text-align: center;
}
.dulcetSongCards div h2{
  font-size: 23px;
}
.sectionGridContainer{
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
.featuredDulcet h3{
  font-size: 0.5cm;
  padding: 1rem;
}
.sectionGridContainer{
  gap: 10px;
  padding: 10px;
}
.sectionGridContainer .sectionGridBox{
  gap: 10px;
}
.sectionGridContainer .sectionGridBox .fontAwesomeUserCSS{
  height: 100px;
  width: 100px;
  background-color: #000;
  border-radius: 80px;
}
.sectionGridContainer .sectionGridBox .fontAwesomeUserCSS img{
  width: 50px;
  height: 50px;
}
}
